* {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    cursor: pointer;
}

table tr:nth-child(odd) {
    background: white;
}

table tr:nth-child(even) {
    background: #F9F9F9;
}

.selected {
    background-color: #7fc3ff !important;
}

.drop {
    background-color: darkgray !important;
}


/*************************admin-main-index start**************************/
.admin-main-index .navbar-form .form-group .control-group {
    display: inline-block;
    margin-left: 20px;
}
.admin-main-index .book-mark{
    display: block;
    position: absolute;
    cursor: pointer;
    margin: auto;
}
.admin-main-index .book-mark img{
    width: 20px;
    height: 30px;
}
.admin-main-index .project-search {
    border: 1px green solid;
    width: 220px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.admin-main-index .employee-select{
    border: 1px blue solid;
    width: 134px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.admin-main-index .employee-no{
    display: inline-block;
    float: left;
    width:120px;
}
.admin-main-index .employee-remove{
    display: inline-block;
    float: right;
    cursor: pointer;
    width:12px;
}
.admin-main-index .project-name {
    display: inline-block;
    float: left;
    width: 180px;
}
.admin-main-index .project-type {
    display: inline-block;
    float: right;
    width: 38px;
}

.admin-main-index .vm-stop {
    display: inline-block;
    float: right;
}

.admin-main-index .vm-row {
    font-size: 12px;
}

.admin-main-index .vm-row td {
    height: 20px;
    padding: 0;
}
.admin-main-index .increase{
    margin-left: 10px;
    font-size: 10px;
    color:grey;
}
.admin-main-index .increase-img{
    height: 20px;
    width: 10px;
}
.admin-main-index .qq-icon img{
    width: 20px;
    height: 25px;
}
/*************************admin-main-index end**************************/