* {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    cursor: pointer;
}

table tr:nth-child(odd) {
    background: white;
}

table tr:nth-child(even) {
    background: #F9F9F9;
}

.notice {
    font-size: 20px;
    color: brown
}

.online {
    background: yellowgreen;
}
.drop {
    background-color: darkgray !important;
}

.selected {
    background-color: #7fc3ff !important;
}

thead {
    border: 1px solid #aaa
}

tfoot {
    border: 1px solid #aaa
}

.navbar-form .form-group .control-group {
    display: inline-block;
    margin-left: 20px;
}

.project-search {
    border: 1px green solid;
    width: 220px;
    display: block;
    position: absolute;
    overflow: hidden;
}



.employee-select{
    border: 1px blue solid;
    width: 134px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.employee-id{
    display: inline-block;
    width:134px;
}
.project-name {
    display: inline-block;
    float: left;
    width: 180px;
}

.project-type {
    display: inline-block;
    float: right;
    width: 38px;
}

.vm-stop {
    display: inline-block;
    float: right;
}

.vm-row {
    font-size: 12px;
}

.vm-row td {
    height: 20px;
    padding: 0;
}
.increase{
    margin-left: 10px;
}

.increase-img{
    height: 20px;
    width: 10px;
}